[core]
[user]
	name = soun1920
	email = soun29300@gmail.com

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAJ2rnT+2FqwL0Kvlc+mzYOcaH5jT5m0uMRxtYwp5pJn

[gpg]
  format = ssh


[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[ghq]
	user = soun1920
[credential]
	helper = "!f() { /home/aw5qm/.vscode-server/bin/6928394f91b684055b873eecb8bc281365131f1c/node /tmp/vscode-remote-containers-93bdb9d2-0001-401b-9aca-cb34806cc0fb.js git-credential-helper $*; }; f"
